@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, html{
    background-color: #11111b;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color:#11111b ;
    
}
 .home{
    width: 100%;
    height: 70vh;
 }
 .menu-bar{
    display: none;
 }
 nav{
    width: 75%;
    background-color: rgba(255, 255, 255, 0.079);
    backdrop-filter: blur(50px);
    height: auto;
    padding: 20px;
    position: fixed;
    top: 3%;
    left: 15%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
 }

 .icon{
    width: max-content;
    align-items: center;
    background-color: transparent;

 }
 .menu-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   background-color: transparent;
   width: 70%;
   
 }
 .menu-list li a{
    text-decoration: none;
    background: transparent;

 }
 li{
    list-style: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    background: transparent;
 }
 li:hover{
    box-shadow: 0px 0px 10px white;
    
 }
 .text{
   align-items: center;
   width: 50%;
   margin-left:10%;
   margin-top: 15%;
   font-size: x-large;
 }
.name,.roll{
    font-size: 65px;
    font-weight: bold;
    
}


@keyframes gradientMovement {
    0% {
        color: #3498db; /* Initial text color (blue) */
        background-position: 0% 50%; /* Initial background position */
    }
    50% {
        color: #e74c3c; /* Midpoint text color (red) */
        background-position: 100% 50%; /* Midpoint background position */
    }
    100% {
        color: #3498db; /* Final text color (blue) */
        background-position: 0% 50%; /* Final background position */
    }
}

.name, .roll,.heading-text {
    background: linear-gradient(90deg, #3498db, #e74c3c); /* Initial gradient for background */
    background-size: 200% 200%; /* Background size for animation */
    animation: gradientMovement 4s infinite; /* Animation duration: 4 seconds, infinite loop */
    color: transparent; /* Make text transparent */
    background-clip: text;
    -webkit-background-clip: text;
}
.home-txt{
    font-size: large;
}
.text button{
    padding: 5px 15px;
    margin-left: 20%;
    box-shadow: 4px 5px violet;
    opacity: 1;
    color: white;
    cursor: pointer;
}
.text button:hover{
    box-shadow: 0px 0px violet;
    transition: 0.3s ease-in-out;
}
/*--------------About section start----------------*/
.heading-text{
    color: #e74c3c;;
}
.About{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.title{
    text-align: center;
    padding: none;
    font-size: 40px;
}
.about-txt{
    width: 50%;
    height: max-content;
    padding: 5% 10%;
    font-size: small;
}
.about-img{
    width: 30%;
    height: max-content;
    padding: 10%;
    border: 1px solid white;
}
.Edu-title{
    width: 80%;
    text-align: center;
    padding: 20px;
    font-size: xx-large;
}
.education{
    width: 70%;
    height: max-content;
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 10% 5%;
}
.education p{
    width: 45%;
    height: max-content;
    text-align: center;
    padding: 20px 10px;
    background-color: #0c0c13;
    border-radius: 10px;
    box-shadow: 0px 5px 8px black;
    transition: 0.5s ease-in-out;
}
.education p:hover{
    background-color:#11111b;
}
.degree{
    font-size: x-large;
    background: transparent;
}
.College{
    font-size: large;
    font-weight: lighter;
    background: transparent;
    color: #f38478;
}
.about-txt button{
    padding: 5px 15px;
    margin-left: 20%;
    box-shadow: 4px 5px violet;
    opacity: 1;
    color: white;
    cursor: pointer; 
}
.about-txt button:hover{
    box-shadow: 0px 0px violet;
    transition: 0.3s ease-in-out;
}
/*----------------skill section-----------------*/

.Skill{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Skill h3{
    text-align: center;
    padding: 20px 0px;
    width: 100%;

}
.Skill-box{
    width: 70%;
    height: max-content;
    padding: 50px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 50px;
    
}
.Skill p{
    font-size: x-large;
    width: 40%;
    font-weight: 700;
    padding: 20px 0px;
    height: max-content;
    text-align: center;
    background-color: #0c0c13;
    border-radius: 10px;
    box-shadow: 2px 4px 5px black;
 
}

.Skill p:hover{
    background: #11111b;
    transition: 0.6s ease-in-out;
}
/*----------project-------------*/
.project{
width: 100%;
height: max-content;
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
padding: 30px;
gap: 30px;
}
.pro-box{
    width: 60%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    border: 2px solid salmon;
   padding: 35px;
   gap: 10px;
   border-radius: 10px;
   transition: 0.5s ease-in-out;
   background-color: #0c0c13;
}
.pro-box:hover{
    background-color:#11111b;
}
.pro-txt{
    width: 70%;
    height: auto;
    background: transparent;

}
.txt-heading{
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    font-size: large;
    color: violet;
}
.pro-txt h2{
    background-color: transparent;
}

.pro-txt a{
    padding: 10px 15px;
    background-color: black;
    border-radius: 10px;
}
.pro-txt p{
    color: gray;
    background-color: transparent;
}
.pro-img{
    width: 50%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}
.pro-img img{
    width: 100%;
    height: 100%;
}
.pro-box button{
    padding: 10px;
    border-radius: 10px;
}
/*-----------------contact--------------------*/
.contact{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
}
.contact .container{
    width: 40%;
    padding: 50px 10px;
    border: 2px solid #f38478;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    column-gap:20px ;

    text-align: center;
}
input{
    width: 100%;
    height: 3rem;
    background-color: white;
    color: black;
    font-size: larger;
    border-radius: 10px;
}
#textarea{
    border-radius: 10px;
}

.container div{
    width: 80%;
    align-items: center;
    text-align: center;

}
.container div button{
    background-color: #eb0cf3;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
}
.footer p, q{
    background-color: black;
    padding: 20px;
    width: 80%;
    align-items: center;
    text-align: center;
    font-size: x-large
}
.links{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
}
.emailbox{
    width: 60%;
    justify-content: space-around;
    display: flex;
    background-color: black;
    padding: 20px;
}
 .emailbox a{
    text-decoration: none;
    background-color: black;
}
.links a{
    padding: 10px;
    border-radius: 50%;
    background-color: black;

}
.links a:hover{
    box-shadow: 0px 0px 8px white;
}
.scrollup{
    text-decoration: none;
    position: fixed;
    transform: rotate(90deg);
    right: 3px;bottom: 10px;
    right: 0%;
    bottom: 14%;
    z-index: 200;
    background-color: transparent;
}
/*-----------------------media querry 500px---------------*/
@media screen and (max-width:700px) {
    
    .home{
        width: 100%;
        height: 80vh;
    }
   
    .icon{
        width: 80%;
    }
    li{
        width: 80%;
       padding: 20%;
        text-align: center;
    }
    
    nav{
        display: flex;
        width: 90%;
        height: 90vh;
        overflow: hidden;
        transform: translate(-10%, 0%);
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        transition: 0.7s ease-out;
        
    }
    li:hover{
        box-shadow: none;
        
     }
    .nav{
        transition: 0.7s ease-in;
   
       height: 60px;
        
        }
        .menu-bar {
            background: transparent;
            width: max-content;
            height: auto;
            margin-right: 10px;
            display: block;
            transition: 0.5s ease-in-out;
        }
        
        .menu-bar-rotated {
            transform: rotate(90deg);
            transition: 0.5s ease-in;
        }
    .text{
        align-items: center;
        width: 90%;
        margin-left:10%;
        margin-top: 55%;
        font-size: large;
        padding: 8px;
      }
     .name,.roll{
         font-size: 40px;
         font-weight: bold;
         padding: 7px;
         
     }
    
     .about-img{
        display: none;
     }
     .about-txt{
        width: 80%;
        height: max-content;
        padding:10px 20px;
        font-size: small;
        text-align: justify;
    }
    .about-txt button{
        margin-left: 37%;
        transform: translate(0% 50%);
    }
    .education p{
        width: 100%;
        height: max-content;
        font-size: small;
    }
    .degree{
        font-size: large;
        font-weight: 600;
    }
    .College{
        font-size: medium;
    }
    .Skill p{
        width: 100%;
    }
    .project{
        padding: 10px;
    }
    .pro-box{
        width: 80%;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 15px;
        box-shadow: 0px 0px 5px #e74c3c;
    }
    .pro-txt{
        width: 95%;
    }
    .pro-img{
        width: 100%;
    }
    .pro-txt h2{
        font-size: large;
    }
    .pro-txt p{
        font-size: small;
        text-align: justify;
    }
    .contact .container{
        width: 90%;
        padding: 15px;
    }
    input{
        width: 80%;
        height: 2.5rem;
    }
    #textarea{
        width: 80%;
        height: 200px;
        border-radius: 10px;
    }
    .footer p,q{
        font-size: x-large;
        width: 100%;
    }
    .emailbox{
        width: 90%;
    }
    .scrollup{
        margin-right: -20px;
    }

}
iframe{
    display: none;
}
#preloader{
    background: #0c0c13 url(./images/preload.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1100;
    top: 0px;

}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  
  .fade-in.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
  }
